[submodule "exams"]
	path = exams
	url = git@github.com:lengmuzhaxi/learning-cxx.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:lengmuzhaxi/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:lengmuzhaxi/TinyInfiniTensor.git
